<h1>Hi <%= @favoritor&.first_name %></h1>

<p>  
  <%= @event.name %> hosted by <%= @event.lounge.name %> has beem updated. See details below
</p>

<p>
  Time: <%= @event.start_time %>
</p>
<p>
  Date: <%= @event.event_date %>
</p>
