<!-- ======= Lounge Details Section ======= -->
<section id="portfolio-details" class="portfolio-details" style="padding-top: 150px">
  <div class="container">
    <div class="row gy-4">
      <h1>Memberships</h1>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

      <div id="<%= dom_id membership %>">
        <p>
          <strong>First name:</strong>
          <%= membership.first_name %>
        </p>

        <p>
          <strong>Last name:</strong>
          <%= membership.last_name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= membership.email %>
        </p>

        <p>
          <strong>Phone number:</strong>
          <%= membership.phone_number %>
        </p>

        <p>
          <strong>Lounge:</strong>
          <%= membership.lounge_id %>
        </p>
      </div>

    </div>
  </div>
</div>
