<div id="<%= dom_id membership %>">
  <p>
    <strong>First name:</strong>
    <%= membership.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= membership.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= membership.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= membership.phone_number %>
  </p>

  <p>
    <strong>Lounge:</strong>
    <%= membership.lounge_id %>
  </p>

</div>
