  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="/">Herf</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <% if user_signed_in? && current_user.lounges.present? %>
            <%= link_to 'Notifications', '#' %>
            <%= link_to 'My Lounges', my_lounges_path %>
            <%= link_to 'Profile', edit_user_registration_path %>
            <%= link_to "Log Out", destroy_user_session_path %>
            <li><a href="#" class="getstarted">Get Started</a></li>
          <% elsif user_signed_in?  %>
            <%= link_to 'Notifications', '#' %>
            <%= link_to 'Profile', edit_user_registration_path %>
            <%= link_to "Log Out", destroy_user_session_path %>
            <li><a href="#" class="getstarted">Get Started</a></li>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path %>
            <%= link_to "Log In", new_user_session_path %>            
            <li><a href="#" class="getstarted">Get Started</a></li>
          <% end %>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <div class="container pt-5 mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">

          <h2 class="mb-3">Sign Up</h2>

          <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="field">
            <div class="control">
            <%= f.text_field :first_name, required: true %>
            </div>
          </div>

          <div class="field">
            <div class="control">
            <%= f.text_field :last_name, required: true %>
            </div>
          </div>

          <div class="field">
            <div class="control">
            <%= f.text_field :username, required: true %>
            </div>
          </div>

          <div class="field">
            <div class="control">
            <%= f.email_field :email, required: true %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.password_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.password_field :password_confirmation, required: true %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.phone_field :phone_number, placeholder: "xxx-xxx-xxxx" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.submit "Sign up" %>
            </div>
          </div>

          <% end %>
            <br />
          <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="mt-5">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Herf</h3>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            </ul>
          </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Herf</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

