<% if @event.lounge.logo.present? %>
  <%= image_tag(@event.lounge.logo, size: "55x55") %>
<% else %>
  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
<% end %>

<h1><%= @favoritor&.first_name %></h1>

<%= @event.lounge.name %> has cancelled <%= @event.name %> !

<p>
 <%= @event.description %>
</p>