<% if @event.lounge.logo.present? %>
  <%= image_tag(@event.lounge.logo, size: "55x55") %>
<% else %>
  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
<% end %>

<h1>Hi, <%= @membership.first_name %></h1>

<%= @event.lounge.name %> has cancelled <%= @event.name %>!

<p><%= "#{@event.name} event, hosted by #{@event.lounge.name} has been cancelled." %><br />
<p>Please contact: <%= "#{@event.lounge.name} at: #{@event.lounge.phone} for additional information." %><br />
<p>Thank you.</p>

<p>
  <%= @event.event_description %>
</p>