<%= bootstrap_form_with(model: [@lounge, special_offer]) do |form| %>
  <% if special_offer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(special_offer.errors.count, "error") %> prohibited this special offer from being saved:</h2>

    <ul>
      <% special_offer.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <div class="control">
    <%= form.select :special_offer_type, SpecialOffer::SPECIAL_OFFER_TYPES %>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= form.text_area :description %>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= form.date_field :start_date, min: Date.today %>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= form.date_field :end_date, min: Date.today %>
  </div>
</div>

<div class="field">
  <div class="control">
    <% if special_offer.flyer.present? %>
      <div id="<%= dom_id(special_offer, :flyer) %>">
        <%= image_tag special_offer.flyer, size: "300x300" %>
          <%= link_to "Remove flyer", special_offer_special_offer_flyer_path(@special_offer), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      <% end %>
    <%= form.file_field :flyer %>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= form.check_box :members_only %>
  </div>
</div>

<div class="control">
  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>


