<div id="<%= dom_id special_offer %>">
  <p>
    <strong>Type:</strong>
    <%= special_offer.type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= special_offer.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= special_offer.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= special_offer.end_date %>
  </p>

  <p>
    <strong>Lounge:</strong>
    <%= special_offer.lounge_id %>
  </p>

</div>
