<p style="color: green"><%= notice %></p>

<%= render @special_offer %>

<div>
  <%= link_to "Edit this special offer", edit_special_offer_path(@special_offer) %> |
  <%= link_to "Back to special offers", lounge_special_offers_path(@special_offer.lounge) %>
  <%= link_to "Delete", special_offer_path(@special_offer), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button is-primary is-light card-footer-item" %>
</div>
