<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "Herf", root_path, class: "navbar-item is-size-3" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
        <% if user_signed_in? %>
        <%# Home link %>
        <%= link_to root_path, class: "navbar-item" do %>
            <span class="icon is-small">
                <i class="fa-solid fa-house fa-lg"></i>
            </span>
        <% end %>

        <%# Add new lounge %>
        <%= link_to new_lounge_path, class: "navbar-item" do %>
            <span class="icon is-small">
                <i class="fa-regular fa-square-plus fa-lg"></i>
            </span>
        <% end %>

        <%# Notification %>
        <%= link_to '#', class: "navbar-item" do %>
            <span class="icon is-small">
                <i class="fa-regular fa-bell fa-lg"></i>
            </span>
        <% end %>

        <%# Additional Information %>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
            More
            </a>

            <div class="navbar-dropdown">
            <%= link_to "Subscription", '#', class: "navbar-item" %>
            <hr class="navbar-divider">
            <%= link_to "Report an issue", '#', class: "navbar-item" %>
            </div>
        <% else %>
        <%# Home link %>
        <%= link_to '#', class: "navbar-item" do %>
            <span class="icon is-small">
                <i class="fa-solid fa-house fa-lg"></i>
            </span>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to 'Account', edit_user_registration_path, class: "button is-primary is-light" %>
            <%= button_to("Log Out", destroy_user_session_path, class: "button is-primary is-light", method: :delete) %>          
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "button is-primary is-light" %>
            <%= link_to "Log In", new_user_session_path, class: "button is-primary is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>