<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "Herf", root_path, class: "navbar-item is-size-3" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%# Home link %>
      <%= link_to '#', class: "navbar-item" do %>
        <span class="icon is-small">
            <i class="fa fa-home fa-lg"></i>
        </span>
      <% end %>

      <%# User Profile %>
      <%= link_to '#', class: "navbar-item" do %>
        <span class="icon is-small">
            <i class="fa-solid fa-square-plus fa-lg"></i>
        </span>
      <% end %>

      <%# Create new lounge %>
      <%= link_to '#', class: "navbar-item" do %>
        <span class="icon is-small">
            <i class="fa-solid fa-user fa-lg"></i>
        </span>
      <% end %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <%= link_to "Profile", '#', class: "navbar-item" %>
          <%= link_to "Subscription", '#', class: "navbar-item" %>
          <hr class="navbar-divider">
          <%= link_to "Report an issue", '#', class: "navbar-item" %>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to "Sign Up", '#', class: "button is-primary is-light" %>
          <%= link_to "Log In", '#', class: "button is-primary is-light" %>
        </div>
      </div>
    </div>
  </div>
</nav>