<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <%= simple_form_for(@lounge) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">

          <div class="field">
            <div class="control">
              <%= f.input :name, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :address_street_1, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" }%>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :address_street_2, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :city, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :state, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :zip_code, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :email, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :phone, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.rich_text_area :details %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :hours, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" }, placeholder: 'Mon-Fri 9am-5pm, Sat-Sun 10am-6pm' %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.file :logo %>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, class: "button is-primary is-light mt-2" %>
        </div>

        <div class="mt-2">
          <%= link_to "Back to lounges", lounges_path %>
        </div>
      <% end %>

    </div>
  </div>
</div>
