<div id="<%= dom_id lounge %>">
  <p>
    <strong>Name:</strong>
    <%= lounge.name %>
  </p>

  <p>
    <strong>Address street 1:</strong>
    <%= lounge.address_street_1 %>
  </p>

  <p>
    <strong>Address street 2:</strong>
    <%= lounge.address_street_2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= lounge.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= lounge.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= lounge.zip_code %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= lounge.details %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= lounge.hours %>
  </p>
  
  <p>
    <strong>User:</strong>
    <%= lounge.user_id %>
  </p>

</div>
