<section>
<div class="card" id="<%= dom_id lounge %>">
  <header class="card-header">
    <p class="card-header-title">
      <%= @lounge.name %>
    </p>
  </header>
  <div class="card-content">
    <figure class="image is-48x48 mb-2">
      <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
    </figure><br />
    <p><%= @lounge.address_street_1 %>
    <% if lounge.address_street_2.present? %>
      <p class="inline-block pr3"><%= lounge.address_street_2 %></p>
    <% end %>

    <p><%= lounge.city %><p>

    <p><%= lounge.state %></p>

    <p><%= lounge.zip_code %></p>
    
    <% if lounge.phone.present? %>
      <p><%= lounge.phone %></p>
    <% end %>

    <p><%= lounge.email %></p>

    <% if lounge.hours.present? %>
      <p><%= lounge.hours %></p>
    <% end %>

    <div class="content">
      <%= @lounge.details %><br />
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
</div>
</section>