<!-- ======= Lounge Details Section ======= -->
<section id="portfolio-details" class="portfolio-details" style="padding-top: 150px">
  <div class="container">
    <div class="row gy-4">

      <div class="col-lg-8">
        <div class="portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">
          <% if lounge.display_image.present? %>
            <div class="swiper-slide mb-2">
              <%= image_tag(lounge.display_image) %>
            </div>
          <% else %>
            <h3><i class="bi bi-camera">No images available</i></h3>
          <% end %>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="portfolio-info">
          <div class="d-flex justify-content-start">
            <%= image_tag(lounge.logo) %>
          </div>
          <div class="d-flex justify-content-start pt-3">
            <h3><%= lounge.name %></h3>
          </div>
          <ul>
            <li><strong>Address</strong>:  <%= lounge.address_street_1 %>, <%= lounge.address_street_2 %></li>
            <li><strong>City</strong>: <%= lounge.city %></li>
            <li><strong>State</strong>: <%= lounge.state %></li>
            <li><strong>Phone</strong>: (917) 223-3344</li>
            <li><strong>Email</strong>: <%= lounge.email %></li>
          </ul>
          <% if user_signed_in? && current_user.id == lounge.user_id %>
            <div class="d-flex justify-content-around">
              <%= link_to "Edit Lounge", edit_lounge_path(lounge), class: "btn btn-warning" %>
              <%= link_to "New Event", new_lounge_event_path(lounge), class: "btn btn-warning" %>
              <%= link_to "View Events", lounge_events_path(lounge), class: "btn btn-warning" %>
            </div>
            <div class="d-flex justify-content-around pt-3">
              <%= link_to "Memberships", lounge_memberships_path(lounge), class: "btn btn-warning" %>
              <%= link_to "Special Offers", lounge_special_offers_path(lounge), class: "btn btn-warning"%>
              <%= link_to "Delete", lounge_path(lounge), class: "btn btn-warning", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
          <% else %>
            <div class="d-flex justify-content-between">
              <%= link_to "View Events", lounge_events_path(lounge) %>
              <%= link_to "Special Offers", lounge_special_offers_path(lounge)%>
            </div>
          <% end %>
        </div>
        <div class="portfolio-description">
          <h4>About <%= lounge.name %></h4>
          <p><%= lounge.details %></p>
        </div>
      </div>
    </div>
  </div>
</section>
