
<section class="section instrument-show">
  <div class="columns">
    <div class="column is-8" id="<%= dom_id lounge %>">
      <h1 class="title is-2"><%= lounge.name %></h1>
      
        <% if lounge.logo.present? %>
          <%= image_tag(lounge.logo.variant(resize_to_fill: [96,96]), class: "is-rounded") %>
        <% else %>
          <figure class="image is-96x96">
            <img alt="image" class="is-rounded" src="/assets/images/default_logo_small.png">
          </figure>
        <% end %>

        <ul class="pv1">
          <li class="inline-block pr3"><%= lounge.address_street_1 %></li>

          <% if lounge.address_street_2.present? %>
            <li class="inline-block pr3"><%= lounge.address_street_2 %></li>
          <% end %>

          <li class="inline-block pr3"><%= lounge.city %></li>

          <li class="inline-block pr3"><%= lounge.state %></li>

          <li class="inline-block pr3"><%= lounge.zip_code %></li>
          
          <% if lounge.phone.present? %>
            <li class="inline-block pr3"><%= lounge.phone %></li>
          <% end %>

          <li class="inline-block pr3"><%= lounge.email %></li>

          <% if lounge.hours.present? %>
            <li class="inline-block pr3"><%= lounge.hours %></li>
          <% end %>
        </ul>

      <div class="content">
        <p><%= lounge.details %></p>
      </div>
    </div>
  </div>
</section>