<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">One</p>
      <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.
      </p>
      <div class="buttons">
        <% if user_signed_in? %>
            <%= link_to "Edit", "#", class: "button is-primary is-light" %>
            <%= link_to "View Events", "#", class: "button is-primary is-light" %>
        <% else %>
            <%= link_to '#', "View Events", class: "is-primary" %>
        <% end %>
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Two</p>
      <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.
      </p>
      <div class="buttons">
        <% if user_signed_in? %>
            <%= link_to "Edit", "#", class: "button is-primary is-light" %>
            <%= link_to "View Events", "#", class: "button is-primary is-light" %>
        <% else %>
            <%= link_to '#', "View Events", class: "is-primary" %>
        <% end %>
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Three</p>
      <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.
      </p>
      <div class="buttons">
        <% if user_signed_in? %>
            <%= link_to "Edit", "#", class: "button is-primary is-light" %>
            <%= link_to "View Events", "#", class: "button is-primary is-light" %>
        <% else %>
            <%= link_to '#', "View Events", class: "is-primary" %>
        <% end %>
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Four</p>
      <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.
      </p>
      <div class="buttons">
        <% if user_signed_in? %>
            <%= link_to "Edit", "#", class: "button is-primary is-light" %>
            <%= link_to "View Events", "#", class: "button is-primary is-light" %>
        <% else %>
            <%= link_to '#', "View Events", class: "is-primary" %>
        <% end %>
      </div>
    </article>
  </div>
</div>