<div id="<%= dom_id event %>", class="pb-3">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= event.name %> |  <%= event.event_type %> |  <%= event.event_date.strftime("%b %e, %Y") %>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <%= event.description %>
        <br>
        <span class="icon-text">
          <span class="icon">
            <i class="fa-solid fa-clock"></i>
          </span>
          <span><%= event.start_time.strftime("%I:%M %p") %></span>
          <span class="icon">
            <i class="fas fa-arrow-right"></i>
          </span>
          <span><%= event.end_time.strftime("%I:%M %p") %></span>
        </span>
        <br>
        <% if event.rsvp_needed %>
          <span class="icon-text">
            <span class="icon">
              <i class="fa-solid fa-chair"></i>
            </span>
            <span><%= event.maximum_capacity %> seats remaining</span>
          </span>
        <% end %>
      </div>
    </div>
    <footer class="card-footer">
      <% if user_signed_in? && current_user.id == event.lounge.user_id %>
        <%= link_to "Edit this event", edit_event_path(event), class: "button is-primary is-light card-footer-item" %>
        <%= link_to "Delete", event_path(event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button is-primary is-light card-footer-item" %>
        <%= link_to "Event Details", event_path(event), class: "button is-primary is-light" %>
      <% elsif user_signed_in? %>
        <%= link_to "RSVP Here", "#", class: "button is-primary is-light" %>
      <% end %>
    </footer>
  </div>
</div>