<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= event.event_type %>
  </p>

  <p>
    <strong>Start time display:</strong>
    <%= event.start_time_display %>
  </p>

  <p>
    <strong>End time display:</strong>
    <%= event.end_time_display %>
  </p>

  <p>
    <strong>Maximum capacity:</strong>
    <%= event.maximum_capacity %>
  </p>

  <p>
    <strong>Rsvp needed:</strong>
    <%= event.rsvp_needed %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= event.event_date %>
  </p>

  <p>
    <strong>Lounge:</strong>
    <%= event.lounge_id %>
  </p>

</div>
