
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :event_type %>
    <%= f.input :start_time_display %>
    <%= f.input :end_time_display %>
    <%= f.input :maximum_capacity %>
    <%= f.input :rsvp_needed %>
    <%= f.input :event_date %>
    <%= f.association :lounge %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
