<%= form_with(model: [@lounge, event]) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="control">
    <div class="field">
      <%= form.label :event_name, class: "label" %>
      <%= form.text_field :name, class: "input", placeholder: "Event Name" %>
    </div>
  </div>

  <div class="control">
    <div class="field">
      <%= form.label :event_date, class: "label pt-2" %>
      <%= form.date_field :event_date, class: "input" %>
    </div>
  </div>

  <div class="control">
    <div class="field">
      <%= form.label :event_type, class: "label pt-2" %>
      <%= form.select :event_type, Event::TYPES, class: "input" %>
    </div>
  </div>

  <div class="control">
    <div class="field">
      <%= form.label :start_time, class: "label pt-2" %>
      <%= form.time_field :start_time, class: "input" %>
    </div>
  </div>

  <div class="control">
    <div class="field">
      <%= form.label :end_time, class: "label pt-2" %>
      <%= form.time_field :end_time, class: "input" %>
    </div>
  </div>

  <div class="control">
    <div class="field">
      <%= form.label :maximum_capacity, class: "label pt-2" %>
      <%= form.number_field :maximum_capacity, in: 1..100, step: 1, class: "input" %>
    </div>
  </div>

  <div class="control">
    <div class="field">
      <%= form.label :description, class: "label pt-2" %>
      <%= form.rich_text_area :description %>
    </div>
  </div>

  <div class="control">
    <div class="field">
      <%= form.label :event_url, class: "checkbox pt-2" %>
      <%= form.url_field :event_url, placeholder: "http://www.example.com" %>
    </div>
  </div>

  <div class="control">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>