<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_lounge_event_path([@lounge, @event]) %>
  <%= link_to "Back to events", [@lounge, :events] %>


  <%= button_to "Destroy this event", [@lounge, @event], method: :delete %>
</div>
