<div id="<%= dom_id lounge_membership %>">
  <p>
    <strong>First name:</strong>
    <%= lounge_membership.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= lounge_membership.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= lounge_membership.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= lounge_membership.phone_number %>
  </p>

  <p>
    <strong>Lounge:</strong>
    <%= lounge_membership.lounge_id %>
  </p>

</div>
