<div id="<%= dom_id rsvp %>">
  <p>
    <strong>First name:</strong>
    <%= rsvp.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= rsvp.last_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= rsvp.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= rsvp.email %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rsvp.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= rsvp.event_id %>
  </p>

</div>
