<p style="color: green"><%= notice %></p>

<%= render @rsvp %>

<div>
  <%= link_to "Edit this rsvp", edit_rsvp_path(@rsvp) %> |
  <%= link_to "Back to rsvps", rsvps_path %>

  <%= button_to "Destroy this rsvp", @rsvp, method: :delete %>
</div>
