 <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Pricing</h2>
          <ol>
          <li><a href="/" id="pricing-home-link">Home</a></li>
            <li>Pricing</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">
          <div class="row">
            <div class="d-flex justify-content-center">

              <div class="col-lg-6 col-md-12">
                <div class="box">
                  <h3>Email</h3>
                  <h4 id="price-amount"><sup>$</sup>25<span> / month</span></h4>
                  <ul>
                    <li>Automated email event notifications</li>
                    <li>Automated email special offer notifications</li>
                    <li class="na">Automated text notifications for events</li>
                    <li class="na">Automated text notifications for special offers</li>
                  </ul>
                  <div class="btn-wrap">
                    <div class="d-flex justify-content-center">
                      <% if user_signed_in? %>
                        <%= form_with url: '/purchase/create-checkout-session', data: { turbo: false }  do |f| %>
                          <%= f.hidden_field :id, value: 'monthly_email_only_plan' %>
                          <%= f.submit 'Monthly', class: 'btn btn-success' %>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="d-flex justify-content-center">
                        <%= link_to "Monthly", new_user_registration_path, id: "pricing-input" %>
                        <%= link_to "Yearly", new_user_registration_path, id: "pricing-input" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-12">
                <div class="box">
                  <h3>Email & Text</h3>
                  <h4 id="price-amount"><sup>$</sup>32<span> / month</span></h4>
                  <ul>
                    <li>Automated email event notifications</li>
                    <li>Automated email special offer notifications</li>
                    <li>Automated text notifications for events</li>
                    <li>Automated text notifications for special offers</li>
                  </ul>
                  <div class="btn-wrap">
                    <div class="d-flex justify-content-center">

                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <% @faqs.each do |faq| %>
          <div class="row faq-item d-flex align-items-stretch">
            <div class="col-lg-5">
              <i class="bx bx-help-circle"></i>
              <h4><%= faq['question'] %></h4>
            </div>
            <div class="col-lg-7">
              <p>
               <%= faq['answer'] %>
              </p>
            </div>
          </div><!-- End F.A.Q Item-->
        <% end %>
      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->