<!DOCTYPE html>
<html>
  <head>
    <title>HerfApp20</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# <-- Devise flash messages --> %>
    <%# <p class="notice"><%= notice %>
    <%# <p class="alert"><%= alert %>

    <% flash.each do |key, message| %>
      <div class=<%= key == "notice" ? 'notification is-primary is-light' : 'notification is-danger is-light'  %> role="">
        <strong><%= message %></strong>
      </div>
    <% end %>

    <div class="container">
      <%# Navbar  %>
      <%= render "shared/navbar" %>
      <%# Hero %>
      <div class="container">
        <%= render "shared/hero" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
